* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout {
    min-height: 100vh;
}
.ant-layout-content{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.stepForm{
    display: flex;
    justify-content: center; 
}